/* Importar la fuente Montserrat desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

/* General */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    min-height: 100vh;
}

/* Contenedor del formulario */
.form-container {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    text-align: center;
}

/* Banner */
.envio-banner {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 10px 0;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 600;
}

h3 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 600;
}

/* Estilo de las etiquetas de los campos */
label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
    font-weight: 600;
}

/* Campos de entrada */
input[type="email"],
input[type="text"],
input[type="tel"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
}

/* Estilo de los botones */
button {
    width: 100%;
    padding: 14px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Diseño responsivo: Pantallas pequeñas */
@media (max-width: 500px) {
    .form-container {
        padding: 15px;
    }

    h2 {
        font-size: 20px;
    }

    button {
        font-size: 14px;
    }
}

/* Diseño para pantallas grandes */
@media (min-width: 501px) {
    h2 {
        font-size: 28px;
    }

    button {
        font-size: 18px;
    }
}
